.infoCapas {
  animation: 0.2s ease-out 0s 1 dissolve;
  position: absolute;
  bottom: 72px;
  right: 22px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 12px;
  padding: 14px 14px;
  color: #4d4d4d;
  min-width: 250px;
  max-height: 50vh;
  overflow-x:hidden;
  white-space: nowrap;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.infoCapas > p{
    margin: 0;
    font-weight: bold;
}

.infoCapas details {
  overflow-x:hidden;
  white-space: nowrap;
  overflow-y: auto;
  text-overflow: ellipsis;
  width: 400px;
}

.infoCapas details p{
  margin: 6px;
  overflow-x:hidden;
  white-space: nowrap;
  overflow-y: auto;
  text-overflow: ellipsis;
}

hr {
  width: 90%;
}

details summary {
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details[open] summary {
  margin-bottom: 10px;
}