.leyenda {
  animation: 0.2s ease-out 0s 1 dissolve;
  position: absolute;
  bottom: 22px;
  left: 84px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 10px 14px;
  overflow-y: hidden;
}

.listaCapasLeyenda {
  max-height: 40vh;
  overflow-y: auto;
  margin-right: -12px;
}

.leyenda span {
  color: #4d4d4d;
  font-weight: bold;
}

.leyenda p {
  margin: 0;
  color: #4d4d4d;
}

.tituloCapa {
  font-weight: 500;
  padding-left: 10px;
}

.filaLeyenda {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 300px;
  align-items: flex-start;
  margin-bottom: 8px;
}